.howto {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 120px;
}

.howto__steps {
  display: grid;
  max-width: calc(100% - 2 * 100px);
  margin: 64px auto;
  grid-template-columns: repeat(auto-fit, minmax(238px, 1fr));
}

.howto__step {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.howto__step-counter {
  font-weight: 600;
  font-size: 96px;
  line-height: 131px;
  color: rgba(249, 189, 189, 0.25);
  position: absolute;
  top: 18.5px;
  left: 17px;
  margin: 0;
}

.howto__step-image {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.howto__step-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #000000;
}

.button_howto {
  padding: 14px 24px;
}